SECRET_KEY=your_secret_key

DEFAULT_FROM_EMAIL=user@gmail.com
EMAIL_HOST_USER=user@gmail.com
EMAIL_HOST_PASSWORD=mail_password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

POSTGRES_DB=posgtres_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=postgresql_user
POSTGRES_PASSWORD=postgresql_password
POSTGRES_HOST=postgresql_host
POSTGRES_SSLMODE=require
POSTGRES_CHANNEL_BINDING=require

RENDER_DOMAIN=render_domain

DJANGO_SETTINGS_MODULE=information_agency.settings.prod
