asgiref==3.11.0
crispy-bootstrap5==2025.6
dj-database-url==3.0.1
Django==6.0
django-crispy-forms==2.5
django-debug-toolbar==6.1.0
flake8==7.3.0
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
gunicorn==23.0.0
load-dotenv==0.1.0
mccabe==0.7.0
packaging==25.0
pep8-naming==0.15.1
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.2.1
setuptools==80.9.0
sqlparse==0.5.4
tzdata==2025.3
whitenoise==6.11.0
